#chatbot {
  flex-grow: 1;
}
#component-210 {
  flex-grow: 1;
}
#component-211 {
  flex-grow: 1;
}
#component-212 {
  flex-grow: 1;
}
#component-213 {
  flex-grow: 1;
}
#component-214 {
  flex-grow: 1;
}
#component-215 {
  flex-grow: 1;
}
#component-216 {
  flex-grow: 1;
}
#component-217 {
  flex-grow: 1;
}
#component-220 {
  flex-grow: 1;
}
#component-219 {
  flex-grow: 1;
}
#component-219 div {
  height: 100%;
}
#component-219 embed {
  width: 100%;
  height: 100%;
}
